<nav class="navbar navbar-expand title justify-content-between">
  <div>
    <h1>Outil de mise à jour des Programmes Relationnels</h1>
    <h5>Bienvenue </h5>
  </div>
</nav>

<div class="user">
    <h3>Utilisateur actuel</h3>
    <ul>
      <li><h5> Identifiant : </h5></li>
      <li><h5> Prénom NOM : </h5></li>
    </ul>
</div>
<div>
    <button class="buton">
      <h2>
        <a routerLink="/jitsi" routerLinkActive="active">Jitsi</a>
      </h2>
    </button>
</div>
<div>
  <button class="buton">
    <h2>
      <a routerLink="/editor" routerLinkActive="active">CKEditor5</a>
    </h2>
  </button>
</div>
