/* You can add global styles to this file, and also import other style files */
.ph-buton {
  color: white;
  background-color: #71b22c;
}

.ph-buton:hover {
  background-color: #579614;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
